/* ------------------------------------*\
    $HEADER
\*------------------------------------ */

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: rem($small-header-height);
  z-index: 999;

  svg path,
  svg circle {
    fill: white;

    @include media('>medium') {
      fill: $primary-color;
    }
  }

  @include media('>medium') {
    height: rem($wide-header-height);
  }
}

.header--transparent {
  svg path,
  svg circle {
    fill: white;
  }
}

.header--inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header--left {
  display: flex;
  align-items: center;
  height: 100%;
}

.header--right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.header__logo {
  margin-left: $pad-half;
  height: auto;

  .logo {
    width: rem(160);
    height: auto;
    display: inline-block;
  }

  @include media('>medium') {
    margin-left: $pad-and-half;

    .logo {
      width: rem(255);
    }
  }
}

.header__search,
.header__social {
  display: flex;
  align-items: center;
}

.hero {
  position: relative;
}

.hero__image {
  img {
    width: 100%;
  }
}

.hero__header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.hero__header--inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__header--left {
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  padding-bottom: $pad-double;
}

.hero__header--center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
