/* ------------------------------------*\
    $TEXT TYPES
\*------------------------------------ */

/**
 * Text Primary
 */

@mixin font--primary--l() {
  font-size: rem(30);
  line-height: rem(28);
  font-family: $font-primary;
  text-transform: uppercase;

  @include media ('>large') {
    font-size: rem(40);
    line-height: rem(38);
  }
}

.font--primary--l,
h1 {
  @include font--primary--l;
}

@mixin font--primary--m() {
  font-size: rem(23);
  line-height: rem(38);
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: bold;

  @include media ('>large') {
    font-size: rem(33);
    line-height: rem(38);
  }
}

.font--primary--m,
h2 {
  @include font--primary--m;
}

@mixin font--primary--s() {
  font-size: rem(18);
  line-height: rem(33);
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: bold;

  @include media ('>large') {
    font-size: rem(22);
    line-height: rem(37);
  }
}

.font--primary--s {
  @include font--primary--s;
}

/**
 * Text Main
 */
@mixin font--l() {
  font-size: rem(24);
  line-height: rem(32);
  font-family: $font-secondary;
  font-weight: 400;

  @include media ('>large') {
    font-size: rem(26);
    line-height: rem(32);
  }
}

.font--l,
h3 {
  @include font--l;
}

@mixin font--m() {
  font-size: rem(16);
  line-height: rem(22);
  font-family: $font;
  font-weight: 400;

  @include media ('>large') {
    font-size: rem(18);
    line-height: rem(24);
  }
}

.font--m,
h4 {
  @include font--m;
}

@mixin font--s() {
  font-size: rem(14);
  line-height: rem(20);
  font-family: $font;
  font-weight: 400;

  @include media ('>large') {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.font--s {
  @include font--s;
}

@mixin font--xs() {
  font-size: rem(13);
  line-height: rem(19);
  font-family: $font;
  font-weight: 400;
}

.font--xs {
  @include font--xs;
}

/**
 * Text Transforms
 */
.text-transform--upper {
  text-transform: uppercase;
}

.text-transform--lower {
  text-transform: lowercase;
}

.text-transform--capitalize {
  text-transform: capitalize;
}

/**
 * Text Decorations
 */
.text-decoration--underline {
  &:hover {
    text-decoration: underline;
  }
}

/**
 * Font Weights
 */
.font-weight--400 {
  font-weight: 400;
}

.font-weight--700 {
  font-weight: 700;
}

.font-weight--900 {
  font-weight: 900;
}

.caption {
  color: $gray-light;
  font-style: italic;
  padding-top: rem(10);

  @include font--xs;
}
