/* ------------------------------------*\
    $NAVIGATION
\*------------------------------------ */

.nav__toggle {
  position: relative;
  right: 0;
  top: 0;
  background-color: $primary-color;
  color: white;
  width: rem($small-header-height);
  height: rem($small-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  .nav__toggle-span {
    margin-bottom: $pad-half;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .nav__toggle-span--1,
  .nav__toggle-span--2 {
    width: rem(40);
    height: rem(3);
    border-radius: rem(3);
    background-color: white;
    display: block;
  }

  .nav__toggle-span--3 {
    font-size: rem(11);
    text-transform: uppercase;
    letter-spacing: 2.52px;
  }

  @include media('>medium') {
    width: rem($wide-header-height);
    height: rem($wide-header-height);
  }
}

.nav__primary {
  position: absolute;
  width: calc(100vw - 70px);
  left: -100vw;
  top: 0;
  height: 100vh;
  overflow: scroll;
  transition: left 0.25s ease-in-out;
  padding: $pad;

  li {
    border-top: 1px solid #00030a;
    display: block;
    width: 100%;
    line-height: rem(20);

    a:hover,
    a.active {
      color: $tertiary-color;
    }

    a {
      color: white;
      display: table;
      padding: $pad-half 0;
    }
  }

  @include media('>medium') {
    left: auto;
    width: rem($sidebar-width);
    right: rem(-$sidebar-width);
    padding: $pad-and-half;
  }
}

.primary-nav__toggle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  a {
    letter-spacing: 1.78px;
    text-transform: uppercase;
    padding: $pad-quarter;
  }

  span {
    content: '';
    display: block;
    background: url('../../assets/images/icon--accordion-open.svg') no-repeat center center;
    height: rem(16);
    width: rem(16);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    padding: 0 $pad;
  }
}

.primary-nav__list-item-is-active {
  > .subnav__list {
    display: block;
  }

  .primary-nav__toggle span {
    background: url('../../assets/images/icon--accordion-close.svg') no-repeat center center;
  }
}

.subnav__list {
  display: none;
  margin-left: $space;
}

.subnav__link {
  display: block;
  width: 100%;
}

.nav__social {
  border-top: 1px solid #00030a;
  padding-top: $pad-half;
}

.nav__search {
  margin-bottom: $space-half;
}

body {
  top: 0;
  left: 0;
  transition: left 0.25s ease-in-out;
  overflow-x: hidden;
  position: relative;

  .body-overlay {
    opacity: 0;
    visibility: hidden;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
  }
}

body.main-nav-is-active {
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  height: 100vh;

  .body-overlay {
    opacity: 1;
    visibility: visible;
  }

  @include media('>medium') {
    left: rem(-320);
    transition: left 0.25s ease-in-out;
  }

  .nav__primary {
    left: 0;

    @include media('>medium') {
      left: auto;
      right: rem(-$sidebar-width);
    }
  }
}

.secondary-nav {
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.15s ease-in-out;
}

.secondary-nav__link {
  color: white;
  padding: 0 $pad;
  display: block;
  height: 100%;
  line-height: rem(55);

  &:hover {
    color: white;
    background-color: darken($quaternary-color, 10%);
  }
}

.nav-bar--landing {
  .nav-bar__toggle {
    margin-right: $space;

    @include media('>xlarge') {
      cursor: default;
    }
  }

  .nav-bar__list {
    left: 0;
    width: auto;
    min-width: rem(250);

    @include media('>xlarge') {
      display: flex;
      height: 100%;
      visibility: visible;
      opacity: 1;
    }
  }

  .nav-bar--inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include media('>xlarge') {
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
    }
  }

  .nav-bar--inner-is-active {
    @include media('>xlarge') {
      .nav-bar__list {
        display: flex;
        position: relative;
        top: 0;
        background-color: transparent;
      }

      .nav-bar__list-item {
        border: none;
      }
    }
  }
}

.nav-bar__toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 100%;

  .icon--arrow {
    position: relative;
    top: rem(-1);
    transition: all 0.25s ease;
  }
}

.nav-bar--inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  height: rem(55);
  flex-direction: row;
}

.nav-bar--inner-is-active {
  .nav-bar__list {
    display: table;
    position: absolute;
    background-color: $quaternary-color;
    top: rem(55);
    right: 0;
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .nav-bar__list-item {
    border-top: 1px solid rgba(white, 0.15);
  }

  .nav-bar__toggle .icon--arrow {
    transform: rotate(90deg);
    top: rem(0);
  }
}

.nav-bar--left {
  display: flex;
  position: relative;
}
