/* ------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------ */

.c-section {
  padding-top: $pad*2;
  padding-bottom: $pad*2;

  @include media('>large') {
    padding-top: $pad*3;
    padding-bottom: $pad*3;
  }
}

.c-section__hero {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  min-height: rem(400);
  margin-left: $space;
  margin-right: $space;

  @include media('>medium') {
    min-height: rem(500);
  }

  @include media('>large') {
    min-height: rem(600);
    background-attachment: fixed;
  }

  @include media('>xlarge') {
    min-height: rem(700);
    margin-left: $space*2;
    margin-right: $space*2;
  }

  &-caption {
    position: absolute;
    bottom: rem(-40);
    left: 0;
    right: 0;
    max-width: $article-max;
    width: 100%;
  }

  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    max-width: rem(750);
    width: calc(100% - 40px);
    min-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: $pad*2;

    @include media('>large') {
      padding: $pad*4;
    }
  }

  .c-hero__content-title {
    position: relative;
    top: rem(-30);

    @include media('>large') {
      top: rem(-50);
    }
  }

  &-icon {
    position: absolute;
    bottom: $space*2;
    left: 0;
    right: 0;
    width: rem(30);
    height: rem(30);

    @include media('>large') {
      bottom: $pad*4;
      width: rem(50);
      height: rem(50);
    }
  }
}
