/* ------------------------------------*\
    $BUTTONS
\*------------------------------------ */

.btn,
button,
input[type="submit"] {
  display: table;
  padding: $pad-half $pad;
  vertical-align: middle;
  cursor: pointer;
  color: $white;
  background-color: $button-color;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: rem(50);
  text-transform: uppercase;

  @include media ('>medium') {
    padding: rem(12) $pad;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $button-hover;
    color: $white;
  }

  &::after {
    content: '';
    display: inline-block;
    width: rem(10);
    height: rem(10);
    margin-left: $space-half;
    background: url('../../assets/images/icon--arrow.svg') no-repeat center center;
    position: relative;
    top: rem(-1);
  }
}
