/* ------------------------------------*\
    $NAVIGATION
\*------------------------------------ */

.c-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: rem($small-header-height);
  overflow: hidden;
  z-index: 999;
  padding-top: $pad;
  padding-bottom: $pad*2;

  @include media('>xlarge') {
    flex-direction: row;
    height: 100%;
  }
}

.c-header--right {
  padding-top: $pad;

  @include media('>xlarge') {
    padding-top: 0;
  }
}

.c-header.this-is-active {
  height: 100%;

  .has-fade-in-border::before {
    background-color: $gray-light;
    height: 100%;
  }

  @for $i from 1 through 5 {
    .has-fade-in-text:nth-child(#{$i}) a span {
      animation: fade-in 1s ease-in-out forwards;
      animation-delay: #{$i * 0.075s};
    }
  }

  .c-primary-nav__list {
    opacity: 1;
    visibility: visible;

    @for $i from 1 through 6 {
      .c-primary-nav__list-item:nth-child(#{$i})::before {
        background-color: $gray-light;
        width: 100%;
        transition-delay: #{$i * 0.15s};
      }

      .c-primary-nav__list-item.active:nth-child(#{$i})::before,
      .c-primary-nav__list-item.this-is-active:nth-child(#{$i})::before {
        background-color: $black;
        transition-delay: 0s;
        width: 100%;
      }
    }

    .c-primary-nav__list-item:last-child::after {
      background-color: $gray-light;
      width: 100%;
      transition-delay: 0.9s;
    }

    .c-primary-nav__list-item.active,
    .c-primary-nav__list-item.this-is-active {
      .c-primary-nav__list-link {
        color: $black;
      }

      .c-sub-nav__list {
        opacity: 1;
        visibility: visible;
        position: relative;

        @include media('>xlarge') {
          position: absolute;
        }
      }
    }
  }

  .c-sub-nav__list-item.active,
  .c-sub-nav__list-item:hover {
    .c-sub-nav__list-link {
      color: $black;
    }
  }

  .c-nav__secondary {
    opacity: 1;
    visibility: visible;
  }
}

.c-nav__primary {
  display: flex;
  flex-direction: column;

  @include media('>xlarge') {
    flex-direction: row;
  }

  &-branding {
    display: flex;
    flex-direction: column;
  }

  &-logo {
    display: flex;
    flex-direction: column;
  }

  &-toggle {
    cursor: pointer;
  }
}

.c-nav__secondary {
  min-width: $nav-width;

  @include media('<=large') {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
  }
}

.c-primary-nav__list {
  position: relative;
  margin-top: $space;
  opacity: 0;
  visibility: hidden;

  @include media('>xlarge') {
    flex-direction: row;
    height: 100%;
    margin-top: 0;
  }

  &-item {
    position: relative;
    padding: rem(4) 0 rem(1) 0;

    &::before,
    &:last-child::after {
      content: "";
      position: absolute;
      height: rem(2);
      display: block;
      top: 0;
      width: 0;
      left: 0;
      background-color: white;
      z-index: 999;
      transition: all 1s ease;
    }

    &:last-child::after {
      top: auto;
      bottom: 0;
    }
  }

  &-link {
    display: block;
    width: $nav-width;
    position: relative;
    transition: all 0.25s ease;
    line-height: 1;
    color: $gray-light;
    font-size: rem(38);
    font-weight: bold;
    font-family: $font-primary;
    text-transform: uppercase;
  }
}

.c-sub-nav__list {
  width: $nav-width;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.25s ease;
  margin: $space-half 0;

  @include media('>xlarge') {
    left: $nav-width;
    margin: 0;
  }

  &-item {
    line-height: 1;
    padding: rem(4) 0 rem(1) 0;
  }

  &-link {
    line-height: 1;
    color: $gray-light;
    font-size: rem(38);
    font-weight: bold;
    font-family: $font-primary;
    text-transform: uppercase;
    transition: border 0s ease, color 0.25s ease;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: none;
      width: 100%;
      height: rem(2);
      background-color: $black;
    }

    &:hover::after {
      display: block;
    }
  }
}

@keyframes fade-in {
  to {
    background-position: left center;
    left: 0;
  }
}

.c-secondary-nav__list {
  a {
    color: $black;

    @include u-font--m;

    &:hover {
      text-decoration: underline;
    }
  }
}

.has-fade-in-border {
  padding-left: rem(10);

  @include media('>xlarge') {
    padding-left: rem(20);
  }

  &::before {
    content: "";
    position: absolute;
    width: rem(2);
    height: 0;
    display: block;
    top: 0;
    left: 0;
    background-color: white;
    transition: all 1s ease;
    transition-delay: 0.15s;

    @include media('>xlarge') {
      left: rem(10);
    }
  }
}

.has-fade-in-text {
  position: relative;

  span {
    position: absolute;
    left: rem(-2);
    height: 100%;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right, transparent, white 50%);
    background-position: right center;
    background-size: 500% 100%;
    background-repeat: no-repeat;
  }
}
