/* ------------------------------------*\
    $HELPER/TRUMP CLASSES
\*------------------------------------ */

.overlay,
.overlay--full {
  background: linear-gradient(to bottom, rgba(black, 0.35) 0%, rgba(black, 0.35) 100%) no-repeat border-box;
}

.overlay--bottom {
  background: linear-gradient(to bottom, rgba(black, 0.25) 0%, rgba(black, 0.25) 100%) no-repeat border-box, linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 0.3) 100%) no-repeat border-box;
}

/**
 * Clearfix - extends outer container with floated children.
 */
.cf {
  zoom: 1;
}

.cf::after,
.cf::before {
  content: " "; // 1
  display: table; // 2
}

.cf::after {
  clear: both;
}

.float--right {
  float: right;
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

/**
 * Positioning
 */
.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}

/**
 * Alignment
 */
.text-align--right {
  text-align: right;
}

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.align--center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

/**
 * Background Covered
 */
.background--cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-image {
  background-size: 100%;
  background-repeat: no-repeat;
}

/**
 * Flexbox
 */
.align-items--center {
  align-items: center;
}

.align-items--end {
  align-items: flex-end;
}

.align-items--start {
  align-items: flex-start;
}

.justify-content--center {
  justify-content: center;
}

/**
 * Misc
 */
.overflow--hidden {
  overflow: hidden;
}

.width--100p {
  width: 100%;
}
