/* ------------------------------------*\
    $GRIDS
\*------------------------------------ */

/**
 * Simple grid - keep adding more elements to the row until the max is hit
 * (based on the flex-basis for each item), then start new row.
 */
.l-grid {
  display: flex;
  display: inline-flex;
  flex-flow: row wrap;
}

/**
 * Fixed Gutters
 */
@mixin column-gutters() {
  padding-left: $pad/1.5;
  padding-right: $pad/1.5;

  @include media ('>xlarge') {
    &.u-left-gutter--l {
      padding-left: rem(30);
    }

    &.u-right-gutter--l {
      padding-right: rem(30);
    }

    &.u-left-gutter--xl {
      padding-left: rem(60);
    }

    &.u-right-gutter--xl {
      padding-right: rem(60);
    }
  }
}

[class*="grid--"] {
  &.u-no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .l-grid-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  > .l-grid-item {
    box-sizing: border-box;

    @include column-gutters();
  }
}

@mixin layout-in-column {
  margin-left: -1 * $space/1.5;
  margin-right: -1 * $space/1.5;

  @include media ('>xlarge') {
    margin-left: -1 * $space/1.5;
    margin-right: -1 * $space/1.5;
  }
}

[class*="l-grid--"] {
  @include layout-in-column;
}

.l-grid-item {
  width: 100%;
  box-sizing: border-box;
}

/**
* 1 to 2 column grid at 50% each.
*/
.l-grid--50-50 {
  @include media ('>medium') {
    width: 100%;

    > * {
      width: 50%;
    }
  }
}

/**
 * 3 column grid
 */
.l-grid--3-col {
  margin: 0;

  @include media ('>medium') {
    width: 100%;

    > * {
      width: 33.3333%;
    }
  }
}

/**
 * 4 column grid
 */
.l-grid--4-col {
  > * {
    margin-bottom: $space*1.5;
    display: flex;
    align-items: stretch;
  }

  @include media('>small') {
    > * {
      width: 50%;
    }
  }

  @include media('>medium') {
    width: 100%;
  }

  @include media('>large') {
    > * {
      width: 25%;
    }
  }
}
