/* ------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------ */

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */
.l-container {
  margin: 0 auto;
  position: relative;
  padding-left: $pad;
  padding-right: $pad;

  @include media('>xlarge') {
    padding-left: $pad*2;
    padding-right: $pad*2;
  }
}

/**
 * Wrapping element to keep content contained and centered.
 */
.l-wrap {
  max-width: $max-width;
  margin: 0 auto;
}

/**
 * Wrapping element to keep content contained and centered at narrower widths.
 */
.l-narrow {
  max-width: rem(800);
  margin: 0 auto;
}

.l-narrow--xs {
  max-width: rem(500);
}

.l-narrow--s {
  max-width: rem(600);
}

.l-narrow--m {
  max-width: rem(700);
}

.l-narrow--l {
  max-width: $article-max;
}

.l-narrow--xl {
  max-width: rem(1300);
}
