/* ------------------------------------*\
    $FOOTER
\*------------------------------------ */

.c-footer {
  padding-top: $pad;
  padding-bottom: $pad;
  display: flex;
  flex-direction: column;

  @include media('>xxlarge') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.c-footer__nav {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: $pad-half;

    @include media('>medium') {
      flex-wrap: nowrap;
    }

    @include media('>xxlarge') {
      padding-bottom: 0;
    }

    li {
      padding-right: $pad;

      @include media('>xxxlarge') {
        padding-right: $pad*2;
      }

      a {
        color: $black;

        @include u-font--s;
      }
    }
  }
}
