/* ------------------------------------*\
    $ARTICLE
\*------------------------------------ */

.c-article__content {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;

  @include media('>small') {
    flex-direction: row;

    &--left {
      width: rem(60);
      flex: auto;
      margin-right: $pad*2;
    }

    &--right {
      width: calc(100% - 100px);
    }
  }
}

.c-article__share {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: $space*2;
  z-index: 1;

  @include media('>small') {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }

  &-link {
    margin-left: $space/2;

    @include media('>small') {
      margin-left: 0;
      margin-top: $space/2;
    }
  }
}

.c-article__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid $gray;
  padding-top: $pad;

  &--inner {
    width: 50%;

    &:first-child {
      padding-right: $pad/2;
    }

    &:last-child {
      padding-left: $pad/2;
    }
  }
}

.c-article-product {
  .c-article__body {
    display: flex;
    flex-direction: column;

    @include media('>medium') {
      flex-direction: row;
    }

    .c-article--left {
      @include media('>medium') {
        width: 40%;
        padding-right: $pad;
      }
    }

    .c-article--right {
      @include media('>medium') {
        width: 60%;
        padding-left: $pad;
      }
    }
  }

  .c-article__footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media('>small') {
      flex-direction: row;
      justify-content: space-between;
    }

    &--left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      > * {
        margin: 0 $space 0 0;
      }
    }

    &--right {
      @include media('<=small') {
        margin-top: $space;
      }

      .c-article__share {
        margin: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        > * {
          margin-top: 0;

          @include media('>small') {
            margin-left: $space/2;
          }
        }
      }
    }
  }
}

// Article Body list styles from u-font--styles.scss
ol,
ul {
  .c-article__body & {
    margin-left: 0;
    margin-top: $space-half;

    li {
      list-style: none;
      padding-left: $pad;
      text-indent: rem(-10);

      &::before {
        color: $primary-color;
        width: rem(10);
        display: inline-block;
        font-size: rem(30);
      }

      li {
        list-style: none;
      }
    }
  }
}

ol {
  .c-article__body & {
    counter-reset: item;

    li {
      &::before {
        content: counter(item) ". ";
        counter-increment: item;
        font-size: 90%;
      }

      li {
        counter-reset: item;

        &::before {
          content: "\002010";
        }
      }
    }
  }
}

ul {
  .c-article__body & {
    li {
      &::before {
        content: "\002022";
      }

      li {
        &::before {
          content: "\0025E6";
        }
      }
    }
  }
}

.c-article {
  margin-left: auto;
  margin-right: auto;
  padding-top: $pad*2;
  padding-bottom: $pad*4;

  &__image {
    outline: 0;
  }

  &__body {
    > *,
    figcaption {
      max-width: rem(700);
      margin: 0 auto;
    }

    > p:first-child::first-letter {
      color: $secondary-color;
      float: left;
      font-size: rem(60);
      margin-top: rem(15);
      margin-right: rem(10);
    }
  }

  p,
  ul,
  ol,
  dt,
  dd {
    @include p;
  }

  p span,
  p strong span {
    font-family: $font !important;
  }

  strong {
    font-weight: bold;
  }

  > p:empty,
  > h2:empty,
  > h3:empty {
    display: none;
  }

  > h1,
  > h2,
  > h3,
  > h4 {
    margin-top: $space*3;

    &:first-child {
      margin-top: 0;
    }
  }

  > h1 {
    @include u-font--primary--l;
  }

  > h2 {
    @include u-font--primary--m;
  }

  > h3 {
    @include u-font--l;
  }

  > h4 {
    @include u-font--secondary--s;

    color: $secondary-color;
  }

  > h5 {
    @include u-font--secondary--s;

    color: $secondary-color;
    margin-bottom: rem(-30);
  }

  img {
    height: auto;
  }

  hr {
    margin-top: rem(15);
    margin-bottom: rem(15);

    @include media('>large') {
      margin-top: rem(30);
      margin-bottom: rem(30);
    }
  }

  figcaption {
    @include u-font--s;
  }

  figure {
    max-width: none;
    width: auto !important;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  blockquote {
    p {
      @include u-font--xl;

      color: $secondary-color;
      font-style: italic;
    }

    padding-left: $pad;
    border-left: 1px solid $gray;

    @include media('>large') {
      padding-left: $pad*2;
    }
  }

  .wp-caption-text {
    display: block;
    line-height: 1.3;
    text-align: left;
    margin-top: rem(5);
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    figcaption {
      text-align: center;
    }
  }

  .alignleft,
  .alignright {
    min-width: 50%;
    max-width: 50%;

    img {
      width: 100%;
    }
  }

  .alignleft {
    float: left;
    margin: $space-and-half $space-and-half 0 0;

    @include media('>large') {
      margin-left: rem(-80);
    }
  }

  .alignright {
    float: right;
    margin: $space-and-half 0 0 $space-and-half;

    @include media('>large') {
      margin-right: rem(-80);
    }
  }

  .size-full {
    width: auto;
  }

  .size-thumbnail {
    max-width: rem(400);
    height: auto;
  }
}
