/* ------------------------------------*\
    $COLOR MODIFIERS
\*------------------------------------ */

/**
 * Text Colors
 */
.u-color--black {
  color: $black;
}

.u-color--white {
  color: $white;
  -webkit-font-smoothing: antialiased;
}

.u-color--gray {
  color: $gray;
}

.u-color--primary {
  color: $primary-color;
}

.u-color--secondary {
  color: $secondary-color;
}

/**
 * Background Colors
 */
.u-background-color--none {
  background: none;
}

.u-background-color--white {
  background-color: $white;
}

.u-background-color--black {
  background-color: $black;
}

.u-background-color--primary {
  background-color: $primary-color;
}

.u-background-color--secondary {
  background-color: $secondary-color;
}

.u-background-color--tertiary {
  background-color: $tertiary-color;
}

.u-background-color--tan {
  background-color: $tan;
}

/**
 * Path Fills
 */
.u-path-fill--white {
  path {
    fill: $white;
  }
}

.u-path-fill--black {
  path {
    fill: $black;
  }
}

.u-fill--white {
  fill: $white;
}

.u-fill--black {
  fill: $black;
}
