/* ------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------ */

.c-article .yarpp-related {
  display: none;
}

.yarpp-related {
  padding: 0;
  margin: 0;
  font-weight: normal;

  h3 {
    font-weight: normal;
  }
}

.page.business-partners {
  img {
    width: calc(50% - 45px);
    height: auto;
    margin: $space;
    display: inline-block;
  }
}

.page.events {
  .c-block,
  .c-block__date {
    background-color: $tan;
  }
}
