/* ------------------------------------*\
    $BORDERS
\*------------------------------------ */

.u-border {
  border: 1px solid $border-color;
}

.u-border--white {
  background-color: $white;
  border-color: $white;
}

.u-border--black {
  background-color: $black;
  border-color: $black;
}
