/* ------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------ */

.c-section {
  padding: $pad*2 0;

  @include media('>medium') {
    padding: $pad*4 0;
  }
}

.c-slideshow {
  &__image {
    position: relative;
    min-height: 70vh;
    z-index: 0;
  }

  &__content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  &::after {
    z-index: 1 !important;
  }

  &--short {
    min-height: rem(250);

    @include media('>medium') {
      min-height: rem(350);
    }

    @include media('>xlarge') {
      min-height: rem(450);
    }
  }

  &--tall {
    min-height: rem(350);

    @include media('>medium') {
      min-height: 70vh;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__caption {
    position: absolute;
    z-index: 999;
    bottom: rem(5);
    left: rem(5);
  }
}

.c-section-events {
  &__title {
    position: relative;
    z-index: 1;

    &::after {
      content: "Happenings";
      font-size: rem(144);
      line-height: 1;
      color: $white;
      opacity: 0.1;
      position: absolute;
      z-index: 0;
      top: rem(-72);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: none;

      @include media('>medium') {
        display: block;
      }
    }
  }

  &__feed {
    z-index: 2;
  }
}

.c-section-news {
  &__title {
    position: relative;
    z-index: 1;
    margin-top: $space*2;

    @include media('>medium') {
      margin-top: $space*4;
    }

    &::after {
      content: "Stay in the Loop";
      font-size: rem(144);
      line-height: 1;
      color: $white;
      opacity: 0.1;
      position: absolute;
      z-index: 0;
      top: rem(-72);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: none;

      @include media('>medium') {
        display: block;
      }
    }

    + .c-section {
      z-index: 2;
      padding-top: $pad*2;
    }
  }
}

.c-section-related {
  padding-bottom: $pad;
}

.c-section__featured-pages {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: $secondary-color;
    position: absolute;
    top: 0;
    left: 0;
  }
}
