/* ------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------ */

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: $gray;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: $gray;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: $gray;
}

/* Firefox 18- */
:-moz-placeholder {
  color: $gray;
}

label {
  margin-top: $space;
  margin-bottom: $space-quarter;
  width: 100%;

  @include u-font--secondary--xs;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"%3E%3Ctitle%3EArrow Down%3C/title%3E%3Cpath d="M5.38,7.5,9.62,3.25a.5.5,0,1,0-.71-.71L5,6.44,1.09,2.5a.5.5,0,0,0-.71,0,.51.51,0,0,0,0,.71L4.62,7.45h0a.5.5,0,0,0,.7.1Z" fill="%2331302e"/%3E%3C/svg%3E') $white center right rem(10) no-repeat;
  background-size: rem(10);
}

input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
  width: 100%;
  font-size: rem(16);

  &:focus {
    border-color: $secondary-color;
  }
}

input[type=checkbox],
input[type=radio] {
  outline: none;
  border: none;
  margin: 0 rem(5) 0 0;
  height: rem(20);
  width: rem(20);
  line-height: rem(20);
  background-size: rem(20);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  display: block;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: $white;
  position: relative;
  top: rem(3);
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
}

input[type=radio] {
  border-radius: rem(50);
}

input[type=checkbox]:checked {
  border-color: $secondary-color;
  background: $secondary-color url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Ctitle%3Eo-icon--check%3C/title%3E%3Cpath d="M15.71,3.31,8.41,14,4.2,8.91,2.66,10.19l5.91,7.18L17.35,4.44Z" fill="%23fff"/%3E%3C/svg%3E') center center no-repeat;
}

input[type=radio]:checked {
  border-color: $secondary-color;
  background: $secondary-color url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Ctitle%3Eo-icon--radio%3C/title%3E%3Ccircle cx="10" cy="10" r="5.63" fill="%23fff"/%3E%3C/svg%3E') center center no-repeat;
}

input[type=checkbox] + span,
input[type=radio] + span {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

input[type=submit] {
  color: $white;
  padding-right: $pad;
  cursor: pointer;
}

.o-filter-select {
  padding: 0;
  border: 0;
  outline: 0;
  color: $secondary-color;
  width: rem(125);
  margin-left: $space;

  @include p;
}

.wpforms-field-sublabel {
  margin-top: $space-quarter;
  margin-bottom: $space;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;

  @include p;
  @include u-font--s;
}
