/* ------------------------------------*\
    $NAVIGATION
\*------------------------------------ */

@mixin primary-nav-hover {
  background-color: darken($tan, 10%);

  @include media('>xlarge') {
    background-color: lighten($primary-color, 5%);
  }

  .c-primary-nav__list-toggle span svg {
    transform: rotate(90deg);
  }

  .c-sub-nav__list {
    display: block;
  }
}

.c-nav__primary {
  position: absolute;
  top: $small-header-height;
  left: 0;
  width: 100%;
  background-color: $tan;
  box-shadow: 0 2px 0 rgba($gray, 0.4);
  transition: none;

  @include media('>xlarge') {
    position: relative;
    top: 0;
    background-color: transparent;
    box-shadow: none;
    width: auto;
  }

  &.this-is-active {
    .c-primary-nav__list {
      display: block;
    }

    .c-nav__toggle {
      .c-nav__toggle-span--1 {
        opacity: 0;
      }

      .c-nav__toggle-span--2 {
        transform: rotate(45deg);
        top: rem(-4);
        right: rem(-2);
      }

      .c-nav__toggle-span--3 {
        transform: rotate(-45deg);
        top: rem(-10);
        right: rem(-2);
      }

      .c-nav__toggle-span--4::after {
        content: "Close";
      }
    }
  }
}

.c-nav__toggle {
  position: absolute;
  padding: $pad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $small-header-height;
  width: $small-header-height;
  top: -$small-header-height;
  right: 0;

  @include media('>xlarge') {
    display: none;
  }

  .c-nav__toggle-span {
    display: block;
    background-color: $white;
    width: rem(30);
    height: rem(1);
    margin-bottom: rem(5);
    transition: transform 0.25s ease;
    position: relative;
    border: 0;
    outline: 0;
  }

  .c-nav__toggle-span--4 {
    margin: 0;
    background-color: transparent;
    height: auto;
    color: $white;
    display: block;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      content: "Menu";
      padding-top: rem(3);
      font-family: $font-secondary;
      text-transform: uppercase;
      font-weight: 700;
      line-height: rem(3);
      letter-spacing: rem(1.25);
      font-size: 9px;
    }
  }
}

.c-primary-nav__list {
  height: auto;
  width: 100%;
  display: none;

  @include media('>xlarge') {
    display: flex;
    flex-direction: row;
  }

  &-toggle {
    border-bottom: 1px solid rgba($border-color, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;

    @include media('>xlarge') {
      border: 0;
      height: $large-header-height;
    }

    a {
      width: calc(100% - 50px);
      min-height: rem(60);
      padding: $pad;
      font-weight: 700;

      @include media('>xlarge') {
        width: auto;
        padding: $pad/2 $pad/2;
      }

      @include media('>xxlarge') {
        padding: $pad;
      }
    }

    span {
      display: none;
      position: relative;
      height: 100%;
      width: rem(50);
      padding: $pad/4 $pad/2;
      text-align: right;
      cursor: pointer;

      svg {
        width: rem(15);
        height: rem(15);
        // right: 0;
        // top: rem(3);
        position: relative;
      }
    }
  }

  &-item {
    position: relative;
    cursor: pointer;

    &:hover,
    &.active {
      @include media('>xlarge') {
        background-color: lighten($primary-color, 5%);
      }
    }

    &:hover {
      @include media('>xlarge') {
        @include primary-nav-hover;
      }
    }

    &.this-is-active {
      @include primary-nav-hover;
    }

    &.has-sub-nav {
      .c-primary-nav__list-link {
        @include media('>xlarge') {
          transition: none;
          font-size: rem(16);
        }
      }

      .c-primary-nav__list-toggle {
        position: relative;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: rem(60);
          width: rem(60);
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;
          border-left: 1px solid rgba($border-color, 0.4);
          z-index: 999;

          @include media('>xlarge') {
            display: none;
          }
        }
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;

    @include media('>xlarge') {
      justify-content: center;
      font-size: rem(12);
      letter-spacing: rem(2);
      white-space: nowrap;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

.c-sub-nav__list {
  background-color: $white;
  display: none;

  @include media('>xlarge') {
    position: absolute;
    left: 0;
    width: max-content;
    box-shadow: 0 1px 2px rgba($gray, 0.5);
  }

  &-item {
    &:hover,
    &.active {
      @include media('>xlarge') {
        background-color: $tan;
      }
    }
  }

  &-link {
    @include p;

    padding: $pad/4 $pad;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba($border-color, 0.4);

    &:hover {
      background-color: $tan;
      color: $secondary-color;
    }
  }
}

.c-secondary-nav {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    padding: 0 $pad/2;
    color: $secondary-color;

    &.this-is-active {
      color: $primary-color;
    }
  }
}

.c-breadcrumbs {
  span {
    color: $gray;
  }
}
