/* ------------------------------------*\
    $BUTTONS
\*------------------------------------ */

.o-button,
button,
input[type="submit"],
.wpforms-submit {
  cursor: pointer;
  box-shadow: none;
  border: 0;
  transition: all 0.25s ease-in-out;
  position: relative;
  padding: $pad/1.5 $pad*3 $pad/1.5 $pad;
  margin: $space 0 0 0;
  display: table;
  vertical-align: middle;
  text-align: center;
  width: auto;
  background: $button-color;
  color: white;
  border-radius: rem(50);

  @include u-font--secondary--s;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $button-hover;
    color: $white;

    &::after {
      background: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 9.53"%3E%3Ctitle%3Eo-arrow--white%3C/title%3E%3Cpath d="M21.85,4.39,17.61.15a.5.5,0,0,0-.71.71l3.39,3.39H.5a.5.5,0,0,0,0,1H20.3L16.86,8.68a.5.5,0,1,0,.71.71l4.24-4.24,0,0h0A.5.5,0,0,0,21.85,4.39Z" fill="%23fff"/%3E%3C/svg%3E') center center no-repeat;
      background-size: rem(30);
      right: rem(15);
    }
  }

  &::after {
    content: '';
    display: block;
    margin-left: $space-half;
    background: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 9.53"%3E%3Ctitle%3Eo-arrow--white%3C/title%3E%3Cpath d="M21.85,4.39,17.61.15a.5.5,0,0,0-.71.71l3.39,3.39H.5a.5.5,0,0,0,0,1H20.3L16.86,8.68a.5.5,0,1,0,.71.71l4.24-4.24,0,0h0A.5.5,0,0,0,21.85,4.39Z" fill="%23fff"/%3E%3C/svg%3E') center center no-repeat;
    background-size: rem(30);
    width: rem(30);
    height: rem(30);
    position: absolute;
    right: $space;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
  }
}

.u-button--red {
  color: $white;
  background-color: $tertiary-color;

  &:hover {
    background-color: darken($tertiary-color, 10%);
    color: $white;
  }
}

.u-button--green {
  color: $white;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
    color: $white;
  }
}

.u-button--outline {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;

  &:hover {
    background-color: $button-color;
    color: $white;
    border: 1px solid $button-color;
  }
}

a.fasc-button {
  background: $button-color !important;
  color: $button-hover !important;

  &:hover {
    background-color: $button-hover !important;
    color: $white !important;
    border-color: $button-hover;
  }
}

.u-button--search {
  padding: rem(5);
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &::after {
    display: none;
  }
}

.ajax-load-more-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alm-load-more-btn.done {
  pointer-events: none;
  opacity: 0.4;
  background-color: $gray;
  border-color: $gray;
}

.alm-btn-wrap {
  width: 100%;
}
