/* ------------------------------------*\
    $TEXT TYPES
\*------------------------------------ */

/**
 * Text Primary
 */

@mixin u-font--primary--xl() {
  font-size: rem(40);
  line-height: rem(40);
  font-family: $font-primary;

  @include media ('>large') {
    font-size: rem(60);
    line-height: rem(60);
  }
}

.u-font--primary--xl,
h1 {
  @include u-font--primary--xl;
}

@mixin u-font--primary--l() {
  font-size: rem(26);
  line-height: rem(36);
  font-family: $font-primary;

  @include media ('>large') {
    font-size: rem(36);
    line-height: rem(46);
  }
}

.u-font--primary--l,
h2 {
  @include u-font--primary--l;
}

@mixin u-font--primary--m() {
  font-size: rem(22);
  line-height: rem(28);
  font-family: $font-primary;

  @include media ('>large') {
    font-size: rem(32);
    line-height: rem(38);
  }
}

.u-font--primary--m,
h3 {
  @include u-font--primary--m;
}

@mixin u-font--primary--s() {
  font-size: rem(18);
  line-height: rem(22);
  font-family: $font-primary;

  @include media ('>large') {
    font-size: rem(22);
    line-height: rem(28);
  }
}

.u-font--primary--s {
  @include u-font--primary--s;
}

/**
 * Text Secondary
 */

@mixin u-font--secondary--s() {
  font-size: rem(14);
  line-height: rem(18);
  font-family: $font-primary;
  letter-spacing: rem(3);
  font-weight: 900;
  text-transform: uppercase;
}

.u-font--secondary--s,
h4 {
  @include u-font--secondary--s;
}

@mixin u-font--secondary--xs() {
  font-size: rem(11);
  line-height: rem(17);
  font-family: $font-primary;
  letter-spacing: rem(2);
  font-weight: 700;
  text-transform: uppercase;

  @include media ('>large') {
    font-size: rem(12);
    line-height: rem(18);
    letter-spacing: rem(3);
  }
}

.u-font--secondary--xs {
  @include u-font--secondary--xs;
}

/**
 * Text Main
 */
@mixin u-font--xl() {
  font-size: rem(18);
  line-height: rem(30);
  font-family: $font;

  @include media ('>large') {
    font-size: rem(22);
    line-height: rem(34);
  }
}

.u-font--xl {
  @include u-font--xl;
}

@mixin u-font--l() {
  font-size: rem(16);
  line-height: rem(26);
  font-family: $font;
  font-style: italic;

  @include media ('>large') {
    font-size: rem(20);
    line-height: rem(30);
  }
}

.u-font--l {
  @include u-font--l;
}

@mixin u-font--m() {
  font-size: rem(18);
  line-height: rem(28);
  font-family: $font;
  font-style: italic;
}

.u-font--m {
  @include u-font--m;
}

@mixin u-font--s() {
  font-size: rem(14);
  line-height: rem(16);
  font-family: $font;
  font-style: italic;
}

.u-font--s {
  @include u-font--s;
}

/**
 * Text Transforms
 */
.u-text-transform--upper {
  text-transform: uppercase;
}

.u-text-transform--lower {
  text-transform: lowercase;
}

.u-text-transform--capitalize {
  text-transform: capitalize;
}

/**
 * Text Decorations
 */
.u-text-decoration--underline {
  &:hover {
    text-decoration: underline;
  }
}

/**
 * Font Weights
 */
.u-font-weight--400 {
  font-weight: 400;
}

.u-font-weight--700 {
  font-weight: 700;
}

.u-font-weight--900 {
  font-weight: 900;
}

.u-caption {
  color: $gray;
  padding-top: rem(10);

  @include u-font--s;
}
